body {
  font-family: 'Quicksand', sans-serif;
  user-select: none;
}

h1 {
  font-size: 220px;
  text-align: center;
}

.container {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.logo{
  text-align: center;
}

.menu{
  margin-left: 210px;
}

.menu-entry {
  cursor: pointer; cursor: hand;
  font-size: 24px;
}

.menu-entry:hover div{
  opacity: 1;
  transition: opacity .25s;
  -webkit-transition: opacity .25s;
  -moz-transition: opacity .25s;
  -ms-transition: opacity .25s;
}

.circle-selected {
  opacity: 0;
  background-color: black;
  display: inline-block;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.mp-menu-only {
  display: none;
}

.char-selector {
  display: none;
}

.board {
  display: none;
  width: 724px;
  margin: 0 auto;
}

.field {
  margin-bottom: -4px;
  height: 240px;
  width: 240px;
  display: inline-block;
}

.sign {
  pointer-events: none;
  font-family: 'PT Mono', monospace;
  width: 240px;
  height: 240px;
  text-align: center;
  float: left;
  font-size: 330px;
  line-height: 188px;
}

#f1, #f4, #f7{
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#f3, #f4, #f5{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.gameover-window {
  display: none;
  position: absolute;
  top: 100px;
  left: 150px;
  background-color: white;
  width: 500px;
  height: 500px;
  padding-left: 20px;
}

.gameover-message {
  font-size: 80px;
  margin: 30px 0px 80px 28px;
}

.gameover-menu {
  position: absolute;
  top: 60%;
}
